<html>
  <head>
    <title>Mod1</title>
    <style>
	img {
  	display: block;
  	margin-left: auto;
  	margin-right: auto;
	width: 60%
	}
  .grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 10px;
}

.grid img {
  width: 100%;
  height: auto;
}

    </style>
  </head>
  <body>
    <h1 align="center">Weapon Detection Using Yolov3</h1>
    <div class="grid">
    <img id="bg" class="center" src="{{ url_for('video_feed') }}">
    <img id="bg" class="center" src="{{ url_for('video_feed') }}">
    <img id="bg" class="center" src="{{ url_for('video_feed') }}">
    <img id="bg" class="center" src="{{ url_for('video_feed') }}">
    <img id="bg" class="center" src="{{ url_for('video_feed') }}">
    <img id="bg" class="center" src="{{ url_for('video_feed') }}">
    </div>
    
  </body>
</html>
