<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="sat.css" type="text/css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="split left">
  
    <div class="container"> 
        <h2> Sign In :</h2>  
        <label>Username : </label> <br>  <br>
        <input type="text" placeholder="Enter Username" name="username" required>  <br><br>
        <label>Password : </label>   <br><br>
        <input type="password" placeholder="Enter Password" name="password" required>  <br><br>
        <button type="submit" class="btn1">Login</button> <br>
        <h5> Remember me   
              &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp Forgot <a href="#"> password? </a>   </h5>
              <h5>___________________________ or ________________________</h5>
              <a href="#" class="fb btn">
                <i class="fa fa-facebook fa-fw"></i> Login with Facebook
              </a>
              <a href="#" class="twitter btn">
                <i class="fa fa-twitter fa-fw"></i> Login with Twitter
              </a>
              <a href="#" class="google btn">
                <i class="fa fa-google fa-fw"></i> Login with Google
              </a>
    </div> 
  
</div>

<div class="split right">
  
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSMBmi_a53ebzucwkZRUx82Ewmf7IHXkhefLw&usqp=CAU" alt="Avatar man">
   
</div>
</body>
</html>